.ggmkt {
    // height: 100vh;
    // position: relative;

    @include respond(from-tab-land) {
        height: 90vh;
        background-image: linear-gradient(to right, rgba($color-primary-light, 0.3), white);
        // background-color: rgba($color-primary-light, 0.3);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
        // overflow: hidden;
    }

    text-align: right;


    $us_circle: 50vw;
    $us-img-top: 30rem;

    &__circle {
        background-color:rgba($color-primary-light, 0.5);
        position: absolute;

        height: $us_circle;
        width: $us_circle;
        border-radius: 100rem;
        left: 4%;
        top: 8rem;

    }

    &__title {
        position: absolute;
        font-size: 5rem;
        line-height: 6rem;
        top: $us-img-top;
        left: 70%;
        & span {
            display: block;
        }
        text-align: left;
        animation-delay: 1.4s !important;
    }

    $top_img: 25vh;

    &__img {
        position: absolute;
        width: 30%;
        top: $top_img;
        left: 13%;
        animation-delay: 1s !important;
    }

    &__link {
        // position: relative;
        @include btn-about-us;
        // top: 60%;
        animation-delay: 2.2s !important;
    }

    @include respond(tab-port){
        // position: static;
        margin: 8rem auto 0 auto;
        text-align: center;

        &__circle,
        &__title,
        &__img{
            position: static;
        }

        &__title {
            order: -1;
            font-size: 4rem;

            & span {
                display: inline;
            }
        }

        &__circle { 
            margin-top: 5rem;

            @include respond(phone) {
                width: 60vw;
                height: 60vw;
            }

        }
        &__img {
            margin-top: -50%;
            width: 60%;
            
            @include respond(phone) {
                width: 80%;
            }
        }

        
    }

}

.us-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}




.about-us {
    // position: relative;
    width: 100%;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__bubble {
        font-size: 2.3rem;
        font-weight: 300;
        width: 60%;
        padding: 3rem 4rem;
        
        border-radius: 5rem;

        animation-delay: .3s !important;

        
        

        &:nth-child(1){
            background-color: $color-primary;
            padding: 3rem 10rem;
            width: 80%;
            @include shadow;
            color: white;
        }

        &:nth-child(2){
            margin-top: 4rem;
        }

        & span {
            font-weight: 600;
            display: block;
            // margin-bottom: 4rem;
        }

        & .high {
            display: inline-block;
            margin: 0;
        }

        & .us {
            text-align: center;
            font-size: 3.5rem;
            text-decoration: underline;
            margin: 2rem 0;

        
        }

        @include respond(phone){
            font-size: 2rem;
            // padding: 10rem;
        }

        @include respond(tab-port){
            & .no-space {
                margin: 0 !important;
            }
        }

    }

    &__slogan {
        max-width: 90%;
        padding: 1rem 10rem;
        background-color: $color-primary-dark;
        display: inline-block;
        border-radius: 5rem;
        font-weight: 600;
        font-size: 2.3rem;
        margin: 0 0 6rem 0;
        // @include shadow;
        animation-delay: 0s !important;
        color: white;
        text-align: center;

        @include respond(tab-land){
            margin: 6rem 0;
        }

        @include respond(phone){
            font-size: 2rem;
            padding: 1rem 0;
            width: 100%
        }
    }

    &__link {
        @include btn-about-us;
        animation-delay: .3s !important;
    }

    @include respond(tab-land){
        margin: 6rem auto 5rem auto;
        position: static;
        width: 98%;

        &__bubble {
            width: 90%;
            margin: 0;
            // padding: 0 3rem;

            &:nth-child(1){
                background-color: $color-primary;
                padding:  4rem 3rem;
                width: 90%;
                @include shadow;
                animation: .8s moveInBottom;
                animation-fill-mode: backwards;
                overflow: hidden;
                animation-delay: 2.8s !important;
            }

            &:nth-child(2){
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;
            }

            & span {
                margin-top: 4rem;
            }


           
        }
    }

    &__section {
        @include section;

        font-size: 2.3rem;
        font-weight: 300;
        padding: 3rem 4rem;

        animation-delay: .3s !important;

        flex-direction: column;

        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            

            p {
                flex: 0 1 60%;
                order: 2;
   
                & span {
                   font-weight: 600;
                }
            }

            & img {
                margin-left: 6rem;
            }

            @include respond(tab-port) {
                flex-direction: column;

                & img {
                    margin: 0;
                }

                & p {
                    margin-bottom: 4rem;
                    font-size: 2rem;
                }
            }
        }

    }
}

