# deps
node_modules
.pnp
.pnp.js

# next
.next
out
dist
build

# env
.env
.env.local
.env*.local

# prisma
prisma/*.db

# misc
.DS_Store
*.log
coverage
.vercel
next-env.d.ts
*.tsbuildinfo

# editor / tooling
.claude
.idea
.vscode
