$color-primary: #0081ff;
$color-primary-light: #65b3ff;
$color-primary-dark: #002243;

$color-ggmkt: #7d54ff;

$color-background: #004181;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;
$color-text: #3E3E3E;

$color-wp: #25D366;
$color-fb: #3b5998;
$color_tw: #00acee;
$color-ig: #dd2a7b;



$border-radius: 3rem;

$background-gradient-image: linear-gradient(rgba($color-primary-light, 0.3), white);
