.svcs {
  min-height: 100vh;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(12, [col-start] calc(1140px / 12) [col-end]) [center-end] 1fr [full-end];

  &Header {
    width: 100%;
    height: 60vh;
    grid-column: full-start / full-end;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 85%);
    display: flex;
    background-image: $background-gradient-image;

    &__heading {
      display: inline-block;
      width: 75%;
      color: #333;
      font-size: 3.8rem;
      margin: auto;
      margin-bottom: 35vh;
    }
  }

  &Pricing {
    width: 100%;
    min-height: 70vh;
    grid-column: full-start / full-end;
    display: flex;
    margin: 7rem 0;
    flex-wrap: wrap;
    align-content: flex-start;

    &__heading {
      font-size: 2.6rem;
      display: inline-block;
      width: 100%;
      padding: 4rem 20% 0;
    }

    &__table {
      width: 1440px;
      margin: auto;
      margin-top: 5%;

      table {
        width: 100%;
        border-collapse: collapse;

        thead,
        tbody,
        tr {
          width: 100%;
        }

        tr {
          border-bottom: 1px solid #d8dae5;

          &:last-child {
            border-bottom: 0;

            th {
              border-bottom: 0;
            }
          }

          &.head {
            th {
              border-bottom: 1px solid #d8dae5;
            }
          }
        }

        th,
        td {
          width: 20%;
          border-right: 1px solid #d8dae5;

          &:last-child {
            border-right: 0;
          }
        }

        th {
          font-size: 14px;
          text-transform: uppercase;
          border-bottom: 1px solid #d8dae5;
          padding: 1.5rem 0;

          &.concept {
            font-size: 13px;
          }
        }

        td {
          position: relative;

          &:nth-child(even) {
            background-color: rgba($color: #f0f0f0, $alpha: 0.6);
          }

          .text,
          .check,
          .cross {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .text {
            font-size: 2rem;
            font-weight: 600;
            color: transparent;
            // -webkit-text-stroke: .5px $color-ggmkt;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.1) -100%, $color-ggmkt);
            -webkit-background-clip: text;
            background-clip: text;
          }

          .check,
          .cross {
            width: 1.5rem;
            height: 1.5rem;
          }

          .check {
            -webkit-mask: url("/assets/check.svg");
            mask: url("/assets/check.svg");
            fill: transparent;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) -100%, $color-ggmkt);
          }

          .cross {
            -webkit-mask: url("/assets/cross.svg");
            mask: url("/assets/cross.svg");
            fill: transparent;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) -100%, rgb(146, 60, 60));
          }
        }
      }
    }
  }

  &Plans {
    grid-column: full-start / full-end;
    width: 95%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }

  &Card {
    position: relative;
    display: flex;
    height: 100%;
    width: 480px;
    border-radius: 5.8rem;
    overflow: hidden;
    @include shadow-light;
    transition: 0.3s linear;
    cursor: pointer;

    &:hover {
      .svcsCard {
        &__bg {
          filter: brightness(55%);
        }

        &__heading {
          transform: translateY(100%);
        }

        &__content {
          transform: translateY(0%);
        }
      }
    }

    &__bg {
      position: absolute;
      z-index: 10;
      height: 100%;
      width: 100%;
      transition: 0.3s linear;

      &--ent {
        background-image: url("/assets/plans/card-ent.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &--emp {
        background-image: url("/assets/plans/card-emp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &--mag {
        background-image: url("/assets/plans/card-mag.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &__heading {
      display: flex;
      position: absolute;
      z-index: 20;
      bottom: 0;
      height: 15%;
      width: 100%;
      background-color: rgba($color-black, 0.45);
      justify-content: center;
      align-items: center;
      font-size: 2.8rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: #fff;
      transition: 0.5s linear;
    }

    &__content {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 30;
      display: flex;
      flex-direction: column;
      border-radius: 6rem;
      background-color: #fff;
      transform: translateY(100%);
      transition: transform 0.5s ease-in;
      @include shadow-light;

      .heading {
        margin: 0 auto;
        margin-top: 10%;
        font-size: 3.4rem;
        letter-spacing: 1px;
        color: $color-black;
      }

      .benefits {
        font-size: 1.4rem;
        font-weight: 600;
        color: #333;
        list-style: none;
        padding-block-start: 0;
        width: 80%;
        margin: auto;
        margin-top: 4rem;
      }

      .benefit {
        display: flex;
        padding: 1rem 0;

        &::before {
          content: "";
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          -webkit-mask: url('/assets/check.svg');
          mask: url('/assets/check.svg');
          margin: auto 1rem;
        }
      }

      .cta {
        display: inline-block;
        margin: auto;
        margin-bottom: 3rem;
        padding: 1.5rem 6rem;
        font-size: 2rem;
        font-weight: 600;
        color: $color-white;
        border-radius: 3rem;
        @include shadow-light;
        transition: 0.2s ease;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }

        &:active {
          outline: 0;
          transform: scale(1);
          font-size: 1.85rem;
        }

        &:focus {
          outline: none;
        }
      }

      &--ent {
        .benefit {
          &::before {
            background-color: $color-card-red;
          }
        }

        .cta {
          background-color: $color-card-red;
          border: 1px solid $color-card-red;
        }
      }

      &--emp {
        .benefit {
          &::before {
            background-color: $color-card-blue;
          }
        }

        .cta {
          background-color: $color-card-blue;
          border: 1px solid $color-card-blue;
        }
      }

      &--mag {
        .benefit {
          &::before {
            background-color: $color-card-brown;
          }
        }

        .cta {
          background-color: $color-card-brown;
          border: 1px solid $color-card-brown;
        }
      }
    }
  }
}
