<footer class="footer">
  <div class="footer__content">
    <div class="footer__contact">
      <h3>¡Contáctanos!</h3>
      <div class="tels">
        <div>
          <p><span>Tels: </span><a href="tel:+6181479256">618 147 9256</a></p>
        </div>

      </div>
      <div>
        <p><span>Correo: </span> <a href="mailto:contacto@ggmkt.com.mx">contacto@ggmkt.com.mx</a></p>
      </div>
      <div>
        <p><span>Dirección: </span><a href="#">Durango, Dgo.</a></p>
      </div>

    </div>
    <div class="footer__social-media">
      <h3>redes sociales</h3>
      <a href="https://www.facebook.com/agenciaggmarketing/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/ggmktmx/" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/ggmkt.mx/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://api.whatsapp.com/send?phone=526181479256" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</footer>