<footer class="footer">
  <div class="footer__content">
    <div class="footer__contact">
      <h3>¡Contáctanos!</h3>
      <div class="tels">
        <a href="tel:+6183353212">
          <p><span>Tels: </span>618 335 3212</p>
        </a>
        <a href="tel:+6181707984">
          <p>618 170 7984</p>
        </a>
      </div>
      <a href="/contacto">
        <p><span>Correo: </span>contacto@ggmkt.com.mx</p>
      </a>
      <a href="#">
        <p><span>Dirección: </span>Durango, Dgo.</p>
      </a>

    </div>
    <div class="footer__social-media">
      <h3>redes sociales</h3>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</footer>