<header class="header">

  {{> includes/layout/navigation index=true extraClasses="white-nav"}}

  <div class="header__heading">
    <h1 class="header__heading__primary">
      El marketing que tu negocio necesita.
    </h1>
  </div>
</header>