<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets/favicon.png" />
  <title>
    {{#if pageTitle}}
    {{pageTitle}}
    {{else}}
    GG Marketing
    {{/if}}
  </title>
  <script src="https://kit.fontawesome.com/c6bf5c5efb.js" crossorigin="anonymous" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap"
    rel="stylesheet">

  {{#> head-block}}
  {{!-- Custom head content per page --}}
  <link type="text/css" rel="stylesheet" href="/css/style.css" defer>
  {{/head-block}}

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '441188577077416');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=441188577077416&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>

  {{#> header-block}}
  {{> includes/layout/navigation}}
  {{/header-block}}

  {{#> content-block}}{{/content-block}}

  {{#> footer-block}}
  {{> includes/layout/footer}}
  {{/footer-block}}

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
  {{#> scripts-block}}
  {{!-- Custom scripts per page --}}
  <script src="/js/index.js" defer></script>
  {{/scripts-block}}

</body>

</html>