{{#> layouts/default}}

{{#*inline "header-block"}}
{{> includes/layout/navigation us=true}}
{{/inline}}

{{#*inline "content-block"}}
<div class="ggmkt">
  <div class="us-header">
    <div class="ggmkt__circle" data-aos-once="true" data-aos="popUp"></div>
    <h2 class="ggmkt__title" data-aos-once="true" data-aos="moveInRight">Sobre <span>nosotros.</span></h2>
    <img src="assets/we.svg" data-aos-once="true" data-aos="appear" alt="" class="ggmkt__img">
  </div>
  <!-- <a href="contacto.html" data-aos-once="true" data-aos="appear" class="ggmkt__link">¡Contáctanos!</a> -->
</div>

<section class="about-us">
  <div class="about-us__bubble">
    <p><span>Somos una empresa dedicada al Marketing Digital. </span>Siempre en busca de lo mejor para tu
      negocio.
      Con más de 3 años de experiencia, somos capaces de identificar las necesidades de tu negocio. En base a
      ellas generamos un sitio web o la estretegia prefecta de Marketing para aumentar tus ventas.
    </p>
  </div>
  <div class="about-us__bubble" data-aos-once="true" data-aos="moveInBottom">
    <p><span>La base de tu negocio.</span>Algo muy importante es que tu negocio no necesita sólo un <span
        class="high">sitio web</span> para
      vender más, también necesita cubrir un amplio margen de <span class="high">publicidad</span>. Pero, ¡no te
      preocupes!
    </p>
  </div>
  <h3 class="about-us__slogan">#OptimizarÓMorir</h3>
  <div class="about-us__section" data-aos-once="true" data-aos="moveInBottom">
    <div>
      <p> <br> No importa si tu negocio es <span class="high">pequeño</span> o <span class="high">grande</span>, tienes
        que estár en la red.
        Tu sitio web <span class="high">representa</span> a tu negocio en internet, permitiendo a tu mercado
        encontrarte más fácilmente. <span class="us">GG Marketing</span> crea tu sitio web <span class="high">a la
          medida</span> con <span class="high">diseños únicos</span> que le encantarán a tus clientes. <br> <br>
        ¿Qué esperas? <span class="high">¡Contamos con precios súper accesibles!</span>

      </p>
      <img src="assets/gg_phone.png" alt="">
    </div>
    <a href="contacto.html" class="about-us__link" data-aos-once="true" data-aos="popUp">¡Contáctanos!</a>
  </div>

</section>
{{/inline}}

{{/layouts/default}}