{{#> layouts/default}}

{{#*inline "header-block"}}
{{> includes/layout/navigation projects=true}}
{{/inline}}

{{#*inline "content-block"}}
<div class="projects">
  <div class="projects-header">
    <div class="projects__circle" data-aos-once="true" data-aos="popUp"></div>
    <h2 class="projects__title" data-aos-once="true" data-aos="moveInLeft">Proyectos</h2>
    <img src="assets/community.svg" alt="" class="projects__img" data-aos-once="true" data-aos="appear">
  </div>
</div>

<div class="clients" data-aos-once="true" data-aos="moveInBottom">
  <h3>Algunos de nuestros clientes</h3>
  <div class="clients__container">
    <div class="client" onclick="window.open('https://elkilate.com.mx/', '_blank');">
      <a href="https://elkilate.com.mx/" target="_blank">
        <img src="./assets/elkilate.png" alt="elkilate">
      </a>
      <p>El Kilate</p>
    </div>
    <div class="client" onclick="window.open('https://www.sibradgo.com/', '_blank');">>
      <a href="https://www.sibradgo.com/#" target="_blank">
        <img src="./assets/sibra.png" alt="sibra">
      </a>
      <p>Sibra durango</p>
    </div>
    <div class="client" onclick="window.open('https://maxi-pollo.com/', '_blank');">>
      <a href="https://maxi-pollo.com/" target="_blank">
        <img src="./assets/maxi-pollo.png" alt="maxi-pollo">
      </a>
      <p>Maxi-pollo</p>
    </div>
  </div>
</div>
{{/inline}}

{{/layouts/default}}