{{#>layouts/default}}

{{#*inline "header-block"}}
{{> includes/layout/navigation services=true}}
{{/inline}}

{{#*inline "content-block"}}
<div class="svcsHeader">
    <h1 class="svcsHeader__heading">Nuestros Servicios</h1>
</div>


<div class="plans">
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>


<div class="svcs">
  <div class="svcsPricing">
    <h2 class="svcsPricing__heading">Compara nuestros planes</h2>
    <div class="svcsPricing__table">
      <table class="table">
        <thead>
          <tr>
            <th class="concept"></th>
            <th>
              Emprendedor
            </th>
            <th>
              Empresario
            </th>
            <th>
              Magnate
            </th>
            <th>
              Personalizado
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="concept">
              Creación de logotipo
            </th>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Página de Facebook e Instagram
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Publicaciones semanales
            </th>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Posicionamiento y reconociemto de marca
            </th>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Videos
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Mensajería automática
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Diseño para tarjetas de presentación
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Membrete
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
           <tr>
            <th class="concept">
              Campaña amplificadora
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
           <tr>
            <th class="concept">
              Landing page
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/default}}