{{#>layouts/default}}

{{#*inline "header-block"}}
{{> includes/layout/navigation services=true}}
{{/inline}}

{{#*inline "content-block"}}
<div class="svcs">
  <div class="svcsHeader">
    <h1 class="svcsHeader__heading">Nuestros Servicios</h1>
  </div>

  <div class="svcsPlans">
    <div class="svcsPlans__heading">Planes</div>
    <div class="svcsCard svcsCard--ent">
      <div class="svcsCard__bg svcsCard__bg--ent"></div>
      <h3 class="svcsCard__heading">Emprendedor</h3>
      <div class="svcsCard__content svcsCard__content--ent">
        <h4 class="heading">Emprendedor</h4>
        <ul class="benefits">
          <li class="benefit">Creacion de logotipo</li>
          <li class="benefit">Pagina de FB e IG</li>
          <li class="benefit">Posicionamiento y reconociemto de marca</li>
          <li class="benefit">3 Publicaciones semanales</li>
        </ul>
        <button class="cta cta--ent" type="button" data-plan-name="emprendedor">$2,499</button>
      </div>
    </div>
    <div class="svcsCard svcsCard--emp">
      <div class="svcsCard__bg svcsCard__bg--emp"></div>
      <h3 class="svcsCard__heading">Empresario</h3>
      <div class="svcsCard__content svcsCard__content--emp">
        <h4 class="heading">Empresario</h4>
        <ul class="benefits">
          <li class="benefit">Creacion de logotipo</li>
          <li class="benefit">Pagina de FB e IG</li>
          <li class="benefit">Posicionamiento y reconociemto de marca</li>
          <li class="benefit">3 Publicaciones semanales</li>
          <li class="benefit">GIFS</li>
          <li class="benefit">Diseño para tarjetas de presentación</li>
          <li class="benefit">Mensajería automática</li>
        </ul>
        <button class="cta cta--emp" type="button" data-plan-name="empresario">$4,999</button>
      </div>
    </div>
    <div class="svcsCard svcsCard--mag">
      <div class="svcsCard__bg svcsCard__bg--mag"></div>
      <h3 class="svcsCard__heading">Magnate</h3>
      <div class="svcsCard__content svcsCard__content--mag">
        <h4 class="heading">Magnate</h4>
        <ul class="benefits">
          <li class="benefit">Creacion de logotipo</li>
          <li class="benefit">Pagina de FB e IG</li>
          <li class="benefit">Posicionamiento y reconociemto de marca</li>
          <li class="benefit">3 Publicaciones semanales</li>
          <li class="benefit">GIFS</li>
          <li class="benefit">Diseño para tarjetas de presentación</li>
          <li class="benefit">Mensajería automática</li>
          <li class="benefit">Google ADS</li>
          <li class="benefit">Landing Page</li>
        </ul>
        <button class="cta cta--mag" type="button" data-plan-name="magnate">$9,799</button>
      </div>
    </div>
  </div>

  <div class="svcsPricing">
    <h2 class="svcsPricing__heading">Compara nuestros planes</h2>
    <div class="svcsPricing__table">
      <table class="table">
        <thead>
          <tr class="head">
            <th class="concept"></th>
            <th>
              Emprendedor
            </th>
            <th>
              Empresario
            </th>
            <th>
              Magnate
            </th>
            {{!-- <th>
              Personalizado
            </th> --}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="concept">
              Creación de logotipo
            </th>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Página de Facebook e Instagram
            </th>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Publicaciones semanales
            </th>
            <td>
              <div class="text">3</div>
            </td>
            <td>
              <div class="text">5</div>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Posicionamiento y reconociemto de marca
            </th>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Gifs
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Mensajería automática
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Diseño para tarjetas de presentación
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Interconexion de redes
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Videos
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Membrete
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Campaña amplificadora
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Landing page
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
          <tr>
            <th class="concept">
              Google ADS
            </th>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="cross">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td>
            <td>
              <svg class="check">
                <use href="/assets/check.svg#check"></use>
              </svg>
            </td>
            {{!-- <td>
              <svg class="check">
                <use href="/assets/cross.svg#cross"></use>
              </svg>
            </td> --}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
{{/inline}}

{{#*inline "scripts-block"}}
<script src="/js/services.js" defer></script>
{{/inline}}

{{/layouts/default}}