{{#>layouts/default}}

{{#*inline "header-block"}}
{{> includes/layout/navigation services=true}}
{{/inline}}

{{#*inline "content-block"}}
<div class="svcs">
  <div class="svcsHeader">
    <h1 class="svcsHeader__heading">Nuestros Servicios</h1>
  </div>
  <div class="svcsServices">
    <h2 class="svcsServices__heading">Conoce nuestros servicios</h2>
    <div class="svcsCard card">
      <div class="card__info">
        <h3 class="card__title">Marketing Digital</h3>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat
          repellendus eos in. Asperiores cumque ullam tempore, ipsam minima harum, soluta alias, eligendi quasi mollitia
          deleniti. Veniam corporis consectetur exercitationem.</p>
      </div>
    </div>
    <div class="svcsCard card">
      <div class="card__info">
        <h3 class="card__title">Desarrollo Web</h3>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat
          repellendus eos in. Asperiores cumque ullam tempore, ipsam minima harum, soluta alias, eligendi quasi mollitia
          deleniti. Veniam corporis consectetur exercitationem.</p>
      </div>
    </div>
    <div class="svcsCard card">
      <div class="card__info">
        <h3 class="card__title">Redes Sociales</h3>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat
          repellendus eos in. Asperiores cumque ullam tempore, ipsam minima harum, soluta alias, eligendi quasi mollitia
          deleniti. Veniam corporis consectetur exercitationem.</p>
      </div>
    </div>
  </div>
  <div class="svcsPricing">
    <h2 class="svcsPricing__heading">Compara nuestros planes</h2>
    <div class="svcsPricing__table">
      <table class="table">
        <thead>
          <tr>
            <th class="concept"></th>
            <th>
              Inicial
            </th>
            <th>
              Basico
            </th>
            <th>
              Avanzado
            </th>
            <th>
              Personalizado
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="concept">
              Atencion a clientes personalizada
            </th>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Soporte tecnico gratis (1 año)
            </th>
            <td>
              &minus;
            </td>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Concepto individual 1
            </th>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
          <tr>
            <th class="concept">
              Concepto individual 2
            </th>
            <td>
              &minus;
            </td>
            <td>
              &times;
            </td>
            <td>
              &times;
            </td>
            <td>
              &minus;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/default}}