$color-primary: #0081ff;
$color-primary-light: #65b3ff;
$color-primary-dark: #002243;

$color-ggmkt: #7d54ff;

$color-background: #004181;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;
$color-text: #3E3E3E;


$border-radius: 3rem;
