

.footer {
    background-color: $color-primary-dark;
    overflow: hidden;
    // position: relative;
    color: white;

    &__content {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 5rem 0;

        @include respond(phone) {
            flex-direction: column;
            align-items: flex-start;

        }
    }

    & h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
        text-transform: capitalize;
    }

    &__contact {
        font-size: 1.5rem;
        
        & span {
            font-size: 1.5rem;
            font-weight: 600;
            display: block;
            margin-top: 2rem;
        }

        & a {
            transition: all .3s ease-in-out;
            &:hover {
                color: $color-ggmkt !important;
                margin-left: 2rem !important;
            }

           
        }
    }

    &__social-media {
        align-self: flex-start;

        & a {
            font-size: 3rem;
            margin-right: 5rem;

            @include respond(bp-20em) {
                margin-right: 4rem;
            }

            & .fa-facebook-f {
                transition: all .3s !important;
                &:hover {
                    color: $color-fb !important;
                    transform: scale(1.5) translateY(-.8rem) !important;
                }
            }

            & .fa-twitter {
                transition: all .3s !important;
                &:hover {
                    color: $color_tw !important;
                    transform: scale(1.5) translateY(-.8rem) !important;
                }
            }

            & .fa-instagram {
                transition: all .3s !important;
                &:hover {
                    color: $color-ig !important;
                    transform: scale(1.5) translateY(-.8rem) !important;
                }
            }

            & .fa-whatsapp {
                transition: all .3s !important;
                &:hover {
                    color: $color-wp !important;
                    transform: scale(1.5) translateY(-.8rem) !important;
                }
            }


            


        }

        @include respond(phone) {
            margin-top: 4rem;
        }
    }
}
