.clients {
    margin: 0 auto 5rem auto;
    text-align: center;


    & h3 {
        font-size: 35px;
        margin-bottom: 3rem;
        line-height: 1;
        max-width: 95%;

        @include respond(tab-port){
            margin-top: 8rem;
            margin-bottom: 1rem;
            padding-top: 3rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;

        @include respond(tab-port){
            margin-top: 8rem;
        }

        @include respond(phone){
            grid-template-columns: repeat(1, 1fr);
        }
        

        & .client {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s all ease-in-out;
            
            position: relative;

            cursor: pointer;

            @include respond(tab-port){
                height: auto !important;
            }

            &:hover img {
                transform: scale(1.1);
            }

            &:hover p {
                color: white;
                background-color: rgba(29, 29, 29, 0.411);
            }
            
            & a {
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s all ease-in-out;
                    transform: scale(1.05);
                }

            }

            & p {
                position: absolute;
                object-fit: cover;
                font-weight: 800;
                font-size: 30px;
                top: 50%;
                left: 50%;
                color: transparent;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s all ease-in-out;
            }

            &:first-child {
                grid-column: 1 / -1;
                height: 550px !important;
                transform: scale(1);

                @include respond(tab-port){
                    height: 320px !important;
                }
            }
        }
    }
}

