.web-offer {
    
    @include section;
    margin: 10rem auto 0 auto;
    // background-image: linear-gradient(#f1f0fe, white);

    &__main {
        flex: 0 1 30%;
        color: $color-text;
        text-align: left;
        // margin-right: 25rem;

        // animation-delay: 1.8s;

        &__title {
            font-size: 5rem;
            text-transform: capitalize;
            margin-bottom: 5rem;

            @include respond(tab-port) {
                // text-align: center;
                flex: 0 1 100%;
                margin-top: 4rem;
                margin-bottom: 1.8rem;
            }

            @include respond(phone){
                font-size: 3rem;
            }
        }

        &__text {
            font-size: 2rem;
            // font-weight: 300;
            line-height: 4rem;
            margin-bottom: 5rem;
        }

        & a {
            @include btn-about-us;
            text-align: center;
        }

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include respond(tab-port){
            flex: 0 1 100%;
            margin: 0 auto;
            // text-align: center;

            &__text {
                margin-bottom: 3rem;

                @include respond(phone){
                    font-size: 2rem;
                }
            }
            
        }
    }


    

}