.clients {
    // position: relative;
    max-width: 90%;
    margin: 0 auto 8rem auto;
    // padding: 2rem 2rem;
    animation-delay: 2.3s !important;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
    text-align: center;
    // background-color: red;

    & img {
        width: 25rem;
    }

    & h3 {
        font-size: 3rem;
        margin-bottom: 4rem;


    }

    &__container {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background-color: rgba(255, 255, 255, 0.205);
        // margin: 0 0 6rem 0;
        // padding: 5rem !important;
        
        // flex-wrap: wrap;
        // // border-radius: .5rem
        
        // // @include respond(from-tab-land){
        // //     width: 80%;
        // //     margin: 0 auto 6rem auto;
        // // }

        // $client-size: 20vw;

        width: 75%;
        margin: 3rem auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // position: relative;
        flex-wrap: wrap;

        $client-size: 30vh;

        & .client {
            flex: 0 1 33%;


            height: $client-size !important;
            width: $client-size !important;

            
            transition: all ease-in-out;

            flex: 0 1 calc(33% -1rem);

            

            display: flex;
            align-items: center;
            justify-content: center;

            

            & img {
                max-height: 100%;
                max-width: 100%;
            }

            &:hover {
                transform: scale(1.05) !important;
                // border-radius: 5rem;
                @include shadow-light;
            }
            
        }

        @include respond(tab-land) {
            width: 85%;
            
            
            & .client {
                flex: 0 1 50%;
            }

        }

        @include respond(phone) {
            
            & .client {
                flex: 0 1 100%;
            }

        }


        @include respond(phone) {
            width: 90%;
           
            & .client {
                box-shadow: none;
                flex: 0 1 100%;

                &:last-child {
                    align-self: center;
                }
            }
        }
    
        

        

    }



    & a {
        transition: all .3s;

        
    }

    &__web-container {
        background-color: $color-primary-dark;
        border-radius: 5rem;
        margin-bottom: 5rem;

        animation-delay: .4s !important;

        & img {
            padding: 6rem;
            width: 100%;
        }

        &__mobile {
            display: flex;
        }
    }

    @include respond(tab-port){

        margin-top: 6rem;
        & hr {
            display: none;
        }

        & h3 {
            font-size: 2.5rem;
            margin-bottom: 4rem;
        }
    }

    @include respond(phone){
        // top: -13rem;

        & h3 {
            font-size: 4rem;
            line-height: 3.8rem;

        }

        // &__container {
        //     flex-direction: column;

        //     & a {
        //         padding: 3rem 0;
        //     }
        // }

        &__web-container,
        & .hide {
            display: none;
        }
    }
}